body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #eee;
  text-align: center;
  
  padding-top: 10px;
}
#juegos-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  max-width: 800px;
  margin: auto;

  padding: 2rem;
}


#carouselExampleCaptions{
  mask: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}


/****************************** NavBar ******************************/

#cabecera {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* From Uiverse.io by Admin12121 */ 

/* Color al pasar el raton por encima de los elementos */
.menu a:hover{
  color: coral;
}

.menu {
  width: 50%;
  height: 50px;
  padding: 0.5rem;
  background-color: #3b3b3b;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 10px 25px 0 rgba(#000, 0.075);
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform-origin: center left;
  transition: width 0.2s ease-in;
  text-decoration: none;
  color: inherit;
  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    transform-origin: center right;
    background-color: #5e5d5d;
  }

  &:hover,
  &:focus {
    outline: 0;
    width: 130px;

    &:before,
    .link-title {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.link-icon {
  width: 28px;
  height: 28px;
  display: block;
  flex-shrink: 0;
  left: 18px;
  position: absolute;
  svg {
    width: 20px;
    height: 20px;
    color: rgb(255, 174, 144);
  }
}

.busqueda {
  display: none;
}

.link-title {
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
  transform-origin: center right;
  display: block;
  text-align: center;
  text-indent: 28px;
  width: 100%;
}
/****************************** Fin NavBar ******************************/


/****************************** FlipCart ******************************/
/* From Uiverse.io by joe-watson-sbf */ 
.flip-card {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
     rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
  color: coral;
}

.flip-card-back {
  background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
     bisque 40%, rgb(255, 185, 160) 78%);
  color: white;
  transform: rotateY(180deg);
}
/****************************** Fin FlipCart ******************************/

/****************************** Footer ******************************/
.ezy__footer2 {
  /* Bootstrap variables */
  --bs-body-color: #28303b;
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;

  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  padding: 60px 0;
}

@media (min-width: 768px) {
  .ezy__footer2 {
    padding: 80px 0;
  }
}

/* Gray Block Style */
.gray .ezy__footer2,
.ezy__footer2.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__footer2,
.ezy__footer2.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);
}

.dark .ezy__footer2,
.ezy__footer2.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);
}

.ezy__footer2-nav .nav-link {
  color: var(--bs-body-color);
}

.ezy__footer2-nav .nav-link:hover {
  color: var(--bs-body-color);
  opacity: 0.8;
}

.ezy__footer2-social li {
  list-style-type: none;
  display: inline-block;
  margin: 6px 8px;
}

.ezy__footer2-social li a {
  color: var(--bs-body-color);
  width: 35px;
  height: 35px;
  text-decoration: none;
}

.ezy__footer2-social li a:hover {
  color: var(--ezy-theme-color);
}

.ezy__footer2-quick-links li {
  margin-bottom: 8px;
}

.ezy__footer2-quick-links li a {
  color: var(--bs-body-color);
  opacity: 0.7;
  text-decoration: none;
}

.ezy__footer2-quick-links li a:hover {
  color: var(--bs-body-color);
  opacity: 1;
}
/****************************** Fin footer ******************************/